<hr/>
<b> Location from rails Geo-ip <br/> </b>

For <%=  @location.data['ip'] %>: <%=  @location.data['country_name'] %>

<br/>

For <%=  @custom_ip %>: <%=  @custome %>


<hr/>
<b>Location from Browser and Geoname </b>


<div id="b_loca">
	Lattitude: <span id="loc_lat"> Loading.. </span> <br/>
	Longitude: <span id="loc_long"> Loading.. </span> <br/>

	Country:  <span id="loc_country">Loading.. </span> <br/>
</div>

<hr/>

<br/>
<b> Using Ipinfo <br/> </b>
Country:  <span id="ipinfo_country">Loading.. </span> <br/>

<hr/>